<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Meenakshi/ApachePOI">
        <classes>
            <class name="datadriventest.DataDrivenTesting">
                <methods>
                    <include name="test"/>
                </methods>
            </class>
            <class name="excelpackage.ReadingExcel">
                <methods>
                    <include name="read"/>
                </methods>
            </class>
            <class name="excelpackage.WritingExcel">
                <methods>
                    <include name="write"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>